body {
  background-color: #2B2D42;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  height: 100%;
  overflow: hidden;
  padding: 2rem;  
  margin: 0 auto;
}
#root h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.6em;
  line-height: 1em;
  color: #EDF2F4;
}

#central-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;  
  height: 50em;
  padding: 0 10px;
}
#central-icons a {
  text-decoration: none;
}
#icons {
  background-color: #EF233C;
  height: 10em;
  width: 40em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}

#icon-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #EDF2F4;
}